@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&family=Rajdhani:wght@500&family=Source+Sans+Pro&display=swap');

$heartIconSize: 15px;
$fontSize: 20px;
$menuFontSize: 30px;
$cardFontSize: 25px;
$secondPFontSize: 18px;
$fontLogoWeight: 600;
$secondPWeight: 200;
$fontLinksWeight: 400;
$h1FontSize: 4rem;
$h1FontFamily:'Source Sans Pro', sans-serif;
$pFontWeight: 800;
$fontLogoFamily: 'Dancing Script', cursive;
$fontLinksFamily: 'Source Sans Pro', sans-serif;
