$mainColor: rgb(64,89,89);
$white: white;
$navLinksColor: rgb(254,209,54); 
$bgNavColor: rgb(33,37,41);
$btnBgColor: rgb(29,128,159);
$btnHoverBgColor: rgb(9,100,159);
$secondBtnHoverColor: rgb(77,81,84);
$thirdPColor: rgb(147,210,226);


$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;